
		/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #292d2c; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #ffda00;
 
}
 .sidenav  .gest {
  color: black;
  background-color: #ffda00;
 
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}





/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}






.topnav{
   list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.topnav form input{
  margin: 0px 0px 0px 0px;
}
/**/
.topnav1 {
  
  /*margin-top: 10px;*/
  overflow: hidden;
  background-color: #292d2c;
}

.topnav1 a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 5px ;
  text-decoration: none;
  font-size: 17px;
}



  .topnav img{
    width:10%;
    padding-left: 10px;

  }
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.form-groups {
  margin-bottom: 1rem;
}

.form-controls {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-controls::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-contros:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-controls::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-controls::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-controls:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-controls::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-controls::placeholder {
  color: #6c757d;
  opacity: 1;
}
select.form-controls:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-controls:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}