@charset "UTF-8";

h1 {
	text-align: left;
}

.container_main {
	text-align: center;
	background-color: #ffffff;
	/* border-style: solid; */
	/* border-width: medium; */
	width: 80%;
	border-radius: 1.5rem;
	padding-top: 50px;
	padding-bottom: 50px;
	margin:auto
}

.cont_1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 60%;
}

.cont_1_1 {
	padding-top: 2px;
}

.cont_2 {
	display: flex;
	justify-content: space-between;
	width: 60%;
}

.lbl_credentials {
	font-weight: bold;
	font-size: 20px;
}

.input_fields {
	width: 60%;
	border-radius: 0.3rem;
	height: 35px;
	font-size: 18px;
	min-width: 160px;
}

.input_fields:hover {
	border-color: lightskyblue;
}

#email{
	width: 60%;
}

#passwd{
	width: 60%;
}

.virtual_frame{
	text-align: left;
	margin-left: 35%;
	width: 50%;
}

.div_checkbox {
	margin-left: 20%;
	font-size: 20px;
}

.login_buttons {
	display: flex;
	/* flex-wrap: wrap; */
	justify-content: space-between;
	margin-left: 10%;
	width: 40%;
	
}

.login_buttons > * {
	border-radius: 0.25rem;
	height: 40px;
	font-size: 15px;
	opacity: 0.8;
}

#btn_login {
	color: #ffffff;
	background-color: #007bff;
	border-color: #007bff;
	width: 40%;
	font-weight: bold;
	min-width: 50px;
}

#btn_login:hover {
	background-color: #f2f2f2;
	color: #007bff;
	border-color: #007bff;
}

#btn_guest {
	padding: 5%;
	border: none;
	background: none;	
	color: #007bff;
	font-weight: bold;
	width: 100%;
	
}

#btn_guest:hover {
	/* background-color: #6bcdfd; */
	/* color: #f2f2f2; */
	/* border-width: 2px; */
	border-style: none;
	/* background-color: #ffffff; */
	opacity: 1;
}

#web_signup {
	display: inline-block;
	color: #04aa6d;
	text-decoration: none;
	font-weight: bold;
}

#web_signup:hover {
	color: #44d444;
}

.space_login {
	width: 20%;
	
}

.btn {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 4px;
	margin: 5px 0;
	opacity: 0.85;
	display: inline-block;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	text-decoration: none; /* remove underline from anchors */
}

.btn:hover {
	opacity: 1;
}

.fb {
  background-color: #3B5998;
  color: white;
}

.google {
  background-color: #55ACEE;
  color: white;
}

.sm_buttons{
	width: 60%;
	min-width: 160px;
}

#main {
	background-color: #4c0082;
}