@charset "UTF-8";

h1 {
	text-align: center;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
}

.cont_1 {
	display: flex;
	justify-content: space-between;
	width: 20%;
}

.cont_2 {
	display: flex;
	justify-content: space-between;
	width: 20%;
}

.lbl_credentials {
	/* font-weight: bold; */
}

.input_fields {
	width: 20%;
}


/* .cont_1 > * { */
	/* width: 20%; */
/* } */

/* .cont_1 > label { */
	/* background-color: lightblue; */
/* } */

/* .cont_1 > div{ */
	/* width: 20% !important; */
/* } */