

input[type=submit] {
  width: 30%;
  background-color:#0275d8 ;
  color: white;
  padding:10px 3px;
  margin: 60px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}


input[type=submit]:hover {
  background-color: #5f9cd0;
}

div publish{
  border-radius: 30px;
  background-color:a ;
  padding:20 px;
  
}